# General
NODE_ENV=development
JWT_SECRET=your_jwt_secret

# Ports
FRONTEND_PORT=3000
GATEWAY_PORT=8000
USER_SERVICE_PORT=8001
PRODUCT_SERVICE_PORT=8002
CART_SERVICE_PORT=8003
ORDER_SERVICE_PORT=8004
PAYMENT_SERVICE_PORT=8005
INVENTORY_SERVICE_PORT=8006
NOTIFICATION_SERVICE_PORT=8007

# Database URLs (Localhost)
DB_HOST=localhost
DB_PORT=5432
DB_USER=your_db_user
DB_PASS=your_db_password
DB_NAME=ecommerce_db

MONGO_URI=mongodb://localhost:27017/ecommerce
REDIS_URL=redis://localhost:6379
RABBITMQ_URL=amqp://localhost:5672

# Service URLs for Gateway
USER_SERVICE_URL=http://localhost:8001
PRODUCT_SERVICE_URL=http://localhost:8002
CART_SERVICE_URL=http://localhost:8003
ORDER_SERVICE_URL=http://localhost:8004
PAYMENT_SERVICE_URL=http://localhost:8005
INVENTORY_SERVICE_URL=http://localhost:8006
NOTIFICATION_SERVICE_URL=http://localhost:8007
